@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;700&family=PT+Serif:wght@700&display=swap");
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
   /* opacity: 0.; */
}

#myMusic{
    color: white;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    width: 60vmin;
    padding: 20px;
    background-color:#3F5E5A;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-bottom-left-radius: 3rem;  
    border-top-right-radius: 2rem;
    position: fixed;
}

.fade {
    opacity: 1;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
    -moz-transition: opacity 1.5s;
    -ms-transition: opacity 1.5s;
    -o-transition: opacity 1.5s;
}

.wrapper > p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    color: white;
    line-height: 30px;
    margin: 30px 0;
    width: auto;

}

.wrapper > span {
    display: block;
    margin-top: 2rem;
    font-size: 50px;
}

.wrapper > button {
    border: none;
    padding: 15px;
    margin-bottom: 1rem;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
    font-size: 1rem;
}